/web/bundles/
/app/AppModuleBundles.php
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/Resources/translations/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea
web/modera
web/bundles
web/uploads
web/extjs
modera-version.txt