# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: '%env(SYMFONY__DB_HOST)%'
    database_port: '%env(SYMFONY__DB_PORT)%'
    database_name: symfony
    database_user: '%env(SYMFONY__DB_USER)%'
    database_password: '%env(SYMFONY__DB_PASSWORD)%'

    mailer_transport: smtp
    mailer_host: postfix
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
