parameters:
    database_driver:   pdo_mysql
    database_host:     %db_host%
    database_port:     %db_port%
    database_name:     symfony
    database_user:     %db_user%
    database_password: %db_password%

    mailer_transport:  smtp
    mailer_host:       postfix
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
